<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AcademicManagement</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/Login.css" rel="stylesheet" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <link href="~/css/Courses.css" rel="stylesheet" asp-append-version="true">
</head>
<body>
    <header>
        <nav>
            <div class="greenwich-bag">
                <img class="museum-icon" src="~/museum.png" />
                <div class="greenwich-text">
                    <h4 class="color-primary">UNIVERSITY OF <br />GREENWICH</h4>
                    <p class="small-text color-primary">ALLIANCE WITH FPT EDUCATION</p>
                </div>
            </div>
        </nav>
    </header>
        @RenderBody()
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("Style", required: false)
</body>
</html>
