@model AcademicManagement.Models.Trainee

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Trainee</h1>

<div class="card">
    <div class="card-body">
        <form method="post" asp-action="Edit" asp-controller="Trainees">
            <div class="modal-body row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="Name" class="form-control pl-4" id="floatingInput">
                        <label for="floatingInput" class="ml-5">Full name</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="Age" class="form-control pl-4" id="floatingInput">
                        <label for="floatingInput" class="ml-5">Age</label>
                    </div>
                </div>
                <div class="">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="Email" class="form-control pl-4" id="floatingInput">
                        <label for="floatingInput" class="ml-5">Email</label>
                    </div>
                </div>
                <div class="">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="Password" class="form-control pl-4" id="floatingInput">
                        <label for="floatingInput" class="ml-5">Password</label>
                    </div>
                </div>
                <div class="">
                    <div class="form-floating mb-3">
                        <input type="tel" asp-for="Telephone" class="form-control pl-4" id="floatingInput">
                        <label for="floatingInput" class="ml-5">Telephone</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="datetime-local" asp-for="DateOfBirth" class="form-control pl-4" id="floatingInput">
                        <label for="floatingInput" class="ml-5">Date of birth</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="Education" class="form-control pl-4" id="floatingInput">
                        <label for="floatingInput" class="ml-5">Education</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="TOEICScore" class="form-control pl-4" id="floatingInput">
                        <label for="floatingInput" class="ml-5">TOEIC Score</label>
                    </div>
                </div>
                <div class="">
                    <div class="form-floating mb-3">
                        <input type="tel" asp-for="ExperienceDetails" class="form-control pl-4" id="floatingInput">
                        <label for="floatingInput" class="ml-5">Experience details</label>
                    </div>
                </div>
                <div class="">
                    <div class="form-floating mb-3">
                        <input type="tel" asp-for="MainProgrammingLanguage" class="form-control pl-4" id="floatingInput">
                        <label for="floatingInput" class="ml-5">Main programming language</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="tel" asp-for="Department" class="form-control pl-4" id="floatingInput">
                        <label for="floatingInput" class="ml-5">Department</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="tel" asp-for="Location" class="form-control pl-4" id="floatingInput">
                        <label for="floatingInput" class="ml-5">Location</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button asp-action="Index" type="button" class="btn btn-secondary">Back to list</button>
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
