@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/LayoutLogin.cshtml";
}
<div class="login_bg">
    <form method="post" asp-action="Index" asp-controller="Home" class="container-login-form">
        <h1>Academic Portal</h1>
        <p class="text-danger" @ViewBag.IsLoginFail>Authentication fail! Please try again.</p>
        <div class="form-floating mb-3 w-100">
            <select name="role" class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                <option selected value="Admin">Admin</option>
                <option value="Staff">Training Staff</option>
                <option value="Trainer">Trainer</option>
            </select>
            <label for="floatingSelectGrid">Select roles</label>
        </div>
        <div class="form-floating mb-3 width-full">
            <input type="email" class="form-control @ViewBag.IsEmptyField" name="email" id="floatingInputInvalid">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating width-full">
            <input type="password" class="form-control @ViewBag.IsEmptyField" name="password" id="floatingInputPasswordInvalid">
            <label for="floatingPassword">Password</label>
        </div>
        <input type="submit" class="sign_in width-full mt-3 pt-1 pb-1" value="Sign in" />
    </form>
</div>