.search_add{
    display:flex;
    justify-content: space-between;
}

.name_course{
    display:inline-flex;
    justify-content:flex-start;
}

.name_course_icon_1{
    margin: 2px 10px 0 0;
}

.name_course_icon_2 {
    margin: 2px 0 0 20px;
}

.name_course_X{
    display:flex;
    justify-content:space-between;
}

.name_teacher{
    display:flex;
    justify-content:flex-start;
    flex-direction:row;
}
.course-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.course-info-container {
    display: flex;
    flex-direction: column;
}

.course-border {
    border-style: solid;
    border-color: #431a20;
}

.course-detail {
    width: 60%;
}

.teacher-info-container {
    display: flex;
    flex-direction: row;
}

.topic-container {
    display: flex;
    flex-direction: row;
}