.museum-icon {
    height: 80px;
    width: 80px;
}
.greenwich-bag {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: #FFFFFFE6;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}
.greenwich-text {
    padding-left:10px;
    justify-content:center;
}

.small-text {
    font-size: x-small;
    font-weight: 700;
}

.color-primary {
    color: #431a20
}