.test-color {
    background-color: #ffd800;
}

.pointer {
    cursor: pointer
}

:root {
    --bs-blue: #431a20;
}

.btn-primary {
    background-color: #431a20;
    border-color: #431a20;
}

.btn-primary:hover {
    color: #fff;
    background-color: #431a20;
    border-color: #431a20;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(67, 26, 32, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #431a20;
    border-color: #431a20;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #431a20;
    border-color: #431a20;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(67, 26, 32, 0.5);
}

/*form control*/
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #431a20;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(67, 26, 32, 0.25);
}


