@model IEnumerable<AcademicManagement.Models.Course>
@{ 
    ViewData["Title"] = "Schedule";
}
<div class="container-lg">
    <h1>Schedule</h1>
    <div class="margin-horizontal">
        <a class="link-primary bold h4" asp-action="Index">Schedule</a>
        <a class="link-secondary bold margin-left h4" asp-action="Profile">Profile</a>
        <a class="link-secondary bold margin-left h4" asp-action="Edit">Edit Profile</a>
    </div>
    @foreach (Course item in Model)
    {
        <div class="shadow-sm course-border p-5 mt-3">
            <div class="name_course_X">
                <div class="name_course">
                    <h3>@item.Name</h3> 
                </div>
            </div>
            <div class="course-container">
                <div class="course-info-container">
                    @if (item.Topics != null)
                    {
                        @foreach (Topic topic in item.Topics)
                        {
                            @if (topic.Trainer.Id == ViewBag.TrainerId)
                            {
                                <div class="topic-container">
                                    <div>
                                        <p>Topic: @topic.Name </p>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    }
</div>
