@model AcademicManagement.Models.Trainer

@{
    ViewData["Title"] = "Trainers Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Trainee</h1>

<div class="card">
    <div class="card-body">
        <form method="post" asp-action="Edit" asp-controller="Trainers">
            <div class="modal-body row">
                <div class="">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="Name" class="form-control pl-4" id="floatingInput">
                        <label for="floatingInput" class="ml-5">Full name</label>
                    </div>
                </div>
                <div class="">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="Email" class="form-control pl-4" id="floatingInput">
                        <label for="floatingInput" class="ml-5">Email</label>
                    </div>
                </div>
                <div class="">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="Password" class="form-control pl-4" id="floatingInput">
                        <label for="floatingInput" class="ml-5">Password</label>
                    </div>
                </div>
                <div class="">
                    <div class="form-floating mb-3">
                        <input type="tel" asp-for="Telephone" class="form-control pl-4" id="floatingInput">
                        <label for="floatingInput" class="ml-5">Telephone</label>
                    </div>
                </div>
                <div class="">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="WorkingPlace" class="form-control pl-4" id="floatingInput">
                        <label for="floatingInput" class="ml-5">Working place</label>
                    </div>
                </div>
                <div class="">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="Type" class="form-control pl-4" id="floatingInput">
                        <label for="floatingInput" class="ml-5">Type</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a asp-action="Index" class="btn btn-secondary">Back to list</a>
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
