@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model AcademicManagement.Models.Trainer
@{

}
<div class="container-sm">
    <div class="profile-card">
        <div class="cover-photo">
            <img src="/images/images.png" class="img-thumbnail" alt="...">
        </div>
        <div class="profile-name">@Html.DisplayFor(model => model.Name)</div>
    </div>
</div>
<br />
<div class="card">
    <div class="card-body">
        <form method="post" asp-action="Edit" asp-controller="Trainees">
            <div class="modal-body row">
                <h4>My Account</h4>
                <p>View and edit your personal info below</p>
                <hr />
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="Name" class="form-control pl-4" id="floatingInput" disabled>
                        <label for="floatingInput" class="ml-5">Full name</label>
                    </div>
                </div>
                <div class="">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="Email" class="form-control pl-4" id="floatingInput" disabled>
                        <label for="floatingInput" class="ml-5">Email</label>
                    </div>
                </div>
                <div class="">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="Password" class="form-control pl-4" id="floatingInput" disabled>
                        <label for="floatingInput" class="ml-5">Password</label>
                    </div>
                </div>
                <div class="">
                    <div class="form-floating mb-3">
                        <input type="tel" asp-for="Telephone" class="form-control pl-4" id="floatingInput" disabled>
                        <label for="floatingInput" class="ml-5">Telephone</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="WorkingPlace" class="form-control pl-4" id="floatingInput" disabled>
                        <label for="floatingInput" class="ml-5">WorkingPlace</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="Type" class="form-control pl-4" id="floatingInput" disabled>
                        <label for="floatingInput" class="ml-5">Type</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input asp-action="Edit" type="submit" class="btn btn-primary" value="Edit"/>
            </div>
        </form>
    </div>
</div>
